<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> SmartCity - Group 45 </title>
	{% load static %}
	  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
	  <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	  <link rel='stylesheet' href={% static 'app/style.css'%} />
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">SmartCity</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0" style ="margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">
      <input class="form-control mr-sm-2" size="40" type="text" placeholder="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>	
	<ul class="navbar-nav" style ="margin-right: 50px">
	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Username
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Account Settings</a>
          <a class="dropdown-item" href="#">Saved PLaces</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
	  </ul>
  </div>
</nav>

	{% block body %}
	{% endblock %}
</body>
</html>


