<!DOCTYPE html>
<html>
  {% include './head.html' %}
  <body>
    {% include './header.html' %}
    <div class="row" id='welcomePage'>
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <form>
          <div id='loginDiv'>
            <div id='loginDivHeader'>
              Login
            </div>
            <div class='inputFieldDiv'>
              <label for="email">Email:</label>
              <input type='text' id='email' class="form-control" placeholder="example@email.com"/>
            </div>
            <div class='inputFieldDiv'>
              <label for="password">Password:</label>
              <input type='text' id='password' class="form-control" placeholder="password"/>
            </div>
            <button id="submit" class='btn btn-info'>Login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
