{% load static %}

<div class='row'>
	<div class='col-4'>
	<a href="/hotels">
		<img src={% static 'hotel1.jpeg' %} alt="hotelCategory" style='width:100%'/>
	</a>
	</div>
	<div class='col-4'>
	<a href="/industries">
		<img src={% static 'industry1.jpeg' %}  alt="industryCategory" style='width:100%'/>
	</a>
	</div>
	<div class='col-4'>
		<img src={% static 'restaurant1.jpeg' %} alt="restaurantCategory" style='width:100%'/>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Hotels</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Industries</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Restaurants</button>
	</div>
</div>
<br>

<div class='row'>
	<div class='col-4'>
		<img src={% static 'museum1.jpeg' %} alt="museumCategory" style='width:100%'/>
	</div>
	<div class='col-4'>
		<img src={% static 'park1.jpg' %}  alt="parkCategory" style='width:100%'/>
	</div>
	<div class='col-4'>
		<img src={% static 'zoo1.jpeg' %} alt="zooCategory" style='width:100%'/>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Museums</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Parks</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Zoos</button>
	</div>
</div>
<br>

<div class='row'>
	<div class='col-4'>
		<img src={% static 'college1.jpeg' %} alt="museumCategory" style='width:100%'/>
	</div>
	<div class='col-4'>
		<img src={% static 'library1.jpeg' %}  alt="parkCategory" style='width:100%'/>
	</div>
	<div class='col-4'>
		<img src={% static 'mall1.jpeg' %} alt="mallCategory" style='width:100%'/>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Colleges</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Libraries</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Malls</button>
	</div>
</div>


