{% load static %}
{% block content %}
<br>
<h2><center> ALL CATEGORIES </center></h2>
<h5><center>These are all the categories available</center></h5>
<br>

<div class='row'>
	<div class='col-4'>
		<a href="/category/hotel">
			<img src={% static 'hotel1.jpeg' %} alt="hotelCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/industry">
			<img src={% static 'industry1.jpeg' %}  alt="industryCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/restaurant">
			<img src={% static 'restaurant1.jpeg' %} alt="restaurantCategory" style='width:100%'/>
		</a>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<a href="/category/hotel">
			<button type="button" style="width: 100%;" >Hotels</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/industry">
			<button type="button" style="width: 100%;" >Industries</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/restaurant">
			<button type="button" style="width: 100%;" >Restaurants</button>
		</a>
	</div>
</div>
<br>

<div class='row'>
	<div class='col-4'>
		<a href="/category/museum">
			<img src={% static 'museum1.jpeg' %} alt="museumsCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/park">
			<img src={% static 'park1.jpg' %}  alt="parksCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/zoo/">
			<img src={% static 'zoo1.jpeg' %} alt="zoosCategory" style='width:100%'/>
		</a>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<a href="/category/museum">
			<button type="button" style="width: 100%;" >Museums</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/park">
			<button type="button" style="width: 100%;" >Parks</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/zoo">
			<button type="button" style="width: 100%;" >Zoos</button>
		</a>
	</div>
</div>
<br>


<div class='row'>
	<div class='col-4'>
		<a href="/category/college">
			<img src={% static 'college1.jpeg' %} alt="collegesCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/library">
			<img src={% static 'library1.jpeg' %}  alt="librariesCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/mall">
			<img src={% static 'mall1.jpeg' %} alt="mallsCategory" style='width:100%'/>
		</a>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<a href="/category/college">
			<button type="button" style="width: 100%;" >Colleges</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/library">
			<button type="button" style="width: 100%;" >Libraries</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/mall">
			<button type="button" style="width: 100%;" >Malls</button>
		</a>
	</div>
</div>
<br>
{% endblock %}
