{% load static %}

<div class='row'>
	<div class='col-4'>
		
			<img src={% static 'hotel1.jpeg' %} alt="hotelCategory" style='width:100%'/>
		
	</div>
	<div class='col-4'>
		<img src={% static 'industry1.jpeg' %}  alt="industryCategory" style='width:100%'/>
	</div>
	<div class='col-4'>
		<img src={% static 'city1.jpeg' %} alt="cityCategory" style='width:100%'/>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Hotels</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Industries</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Other City Information</button>
	</div>
</div>