{% load static %}

<div class='row'>
	<div class='col-4'>
		<a href="/categories/hotel">
			<img src={% static 'images/hotel1.jpeg' %} alt="hotelCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories/industry">
			<img src={% static 'images/industry1.jpeg' %}  alt="industryCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories">
			<img src={% static 'images/city1.jpeg' %} alt="cityCategory" style='width:100%'/>
		</a>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<a href="/categories/hotel">
			<button type="button" style="width: 100%;" >Hotels</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories/industry">
			<button type="button" style="width: 100%;" >Industries</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories">
			<button type="button" style="width: 100%;" >Other City Information</button>
		</a>
	</div>
</div>
