{% extends "base_template.html" %}
{% load static %}
{% load app_filters %}
{% block content %}
<h1><center> {{category|title}} </center></h1>
<h3><center>This is a list of all the {{category}} items on SmartCity</center></h3>

<div class='searchResultDiv'>
  <div class='searchResultColumn1'>
    {% if place_list %}
      {% for place in place_list%}
        <a class="resultItem" href="{{place.get_absolute_url}}">
          <div class='row'>
            <div class='col-2'>
                <img class='icon' src={% static place.category_id.name|category_image %}/>
            </div>
            <div class='col-10'>
              <div class='row'>
                <div class='col-7'>
                  {{place.name}}
                </div>
                <div class='col-5'>
                  <div>{{place.city_id|title}}</div>
                  <div>{{place.address|title}}</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <h2>No results available for this category, sorry!</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
