{% extends "base_template.html" %}
{% load static %}
{% load app_filters %}
{% block content %}

<img style="width:100%" src={% static category|category_banner %}/>
<h1 class="pageTitle"> {{category|title}}</h1>
<h5 class="pageBlurb"> This is a list of all the {{category}} items on SmartCity</h5>
<div class='searchResultDiv'>
  <div class='searchResultColumn1'>
	<center>
    {% if place_list %}
      {% for place in place_list%}
        <a class="resultItem" style="height: auto;" href="{{place.get_absolute_url}}">
			<div class='row' >
				<div class='col-sm-4' style="display: block; margin-top: auto; margin-bottom: auto;">
					{% if category == "library" %}
					<i class="fa fa-book" style="font-size:40px"></i>
					{% endif %}			

					{% if category == "restaurant" %}
					<i class="fa fa-cutlery" style="font-size:40px"></i>
					{% endif %}			

					{% if category == "hotel" %}
					<i class="fa fa-building" style="font-size:40px"></i>
					{% endif %}
					
					{% if category == "mall" %}
					<i class="fa fa-credit-card" style="font-size:40px"></i>
					{% endif %}
					
					{% if category == "college" %}
					<i class="fa fa-pencil" style="font-size:40px"></i>
					{% endif %}
					
					{% if category == "zoo" %}
					<i class="fa fa-paw" style="font-size:40px"></i>
					{% endif %}
					
					{% if category == "industry" %}
					<i class="fa fa-gears" style="font-size:40px"></i>
					{% endif %}
					
					{% if category == "museum" %}
					<i class="fa fa-bank" style="font-size:40px"></i>
					{% endif %}
					
					{% if category == "park" %}
					<i class="fa fa-tree" style="font-size:40px"></i>
					{% endif %}
				</div>
				<div class='col-sm-4' style="display: block; margin-top: auto; margin-bottom: auto;">
					  {{place.name}}
				</div>
				<div class='col-sm-4' style="display: block; margin-top: auto; margin-bottom: auto;">
					{{place.address|title}} <br>
					{{place.city_id|upper}} <br>
					{{place.postcode}}
				</div>
			</div>
		</a>
      {% endfor %}
    {% else %}
		<h4 >
			<hr>
			<i class="fa fa-warning" style="font-size:30px"> </i>
			Sorry, there are currently no results for this category. 
			<i class="fa fa-warning" style="font-size:30px"> </i>
			<br>
			</h4>
			<h6>
			(But we are working on adding some soon!)
			</h6>
    {% endif %}
	</center>
  </div>
</div>

{% endblock %}
