{% extends "base_template.html" %}
{% load static %}

{% block content %}
<h1><center> Colleges </center></h1>
<h3><center>This is a list of all the colleges on SmartCity</center></h3>

<div class="categoryListContainer">
	<ul>
		{% for place in place_list %}
			{% if place.category_id.name == 'college' %}
				<a href="#">
					<img src={% static 'college.png' %} class="categoryIcon" alt="collegeIcon" /> <b>{{ place.name }}</b> | {{ place.address }} 
				</a>
			{% else %}
			Sorry, there are no places for this category yet.
			{% endif %}
		{% endfor %}
	</ul>
</div>

{% endblock %}
