{% extends "base_template.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
	{% if user.is_superuser %}
		{% include './allCategoriesDisplay.html' %}
	{% else %}
	<br>
	<center style="font-family: 'Open Sans', sans-serif;"> 
	<h2>RECOMMENDED CATEGORIES</h2>
	<h5>These categories have been recommended to you based on your account type</center></h5>
	<br>
	{% if role == "STUDENT" %}
		{% include './studentHome.html' %}
	{% elif role == "TOURIST" %}
		{% include './touristHome.html' %}
	{% else %}
		{% include './businessManHome.html' %}
	{% endif %}
	{% endif %}
{% else %}

	<div id='welcomePage'>
		{% if successMessage %}
			<h5 class='text-success text-center'>{{successMessage}}</h5>
		{% endif %}
		<div class="row text-center" >
			<div class="hidden" id='introText' style="margin-left:40px">
			  <h2>Welcome to <br>SmartCity</h2><br>
			  <h5>Dedicated to helping you find <br> great destinations the city you're in </h5>
			</div>
			<div class="col-md-4" style="padding:0">
				{% include './components/registerForm.html' %}
			</div>
			<div class="col-md-4" style="padding:0">
				{% include './components/loginForm.html' %}
			</div>
		</div>
	</div>

	<script type='text/javascript'>
		$(document).ready(function(){
			$('#introText').fadeIn(1500).removeClass('hidden');
			setTimeout(()=>{
			$('#introText .hidden').fadeIn(1500).removeClass('hidden');
			}, 1500);
		});
	</script>

{% endif %}

{% endblock %}
