{% extends "base_template.html" %}
{% load static %}
{% block content %}
	
{% if user.is_authenticated %}
	{% if user.is_superuser %}
		{% include './allCategoriesDisplay.html' %}
	{% else %}
	<img style="width:100%;" src="{% static 'images/index_banner1.png' %}" />
	<br>
	<h1 class="pageTitle">RECOMMENDED CATEGORIES</h1>
	<h5 class="pageBlurb">These categories have been recommended to you based on your account type</h5>
	<hr>
	{% if role == "STUDENT" %}
		{% include './studentHome.html' %}
	{% elif role == "TOURIST" %}
		{% include './touristHome.html' %}
	{% else %}
		{% include './businessManHome.html' %}
	{% endif %}
	{% endif %}
{% else %}

<div id='welcomePage'>
		<img style="width:100%;" src="{% static 'images/welcome_banner1.png' %}" />

		{% if successMessage %}
			<h5 class='text-success text-center'>{{successMessage}}</h5>
		{% endif %}

		<div class="row text-center" >
			<div class="hidden col-md-4" id='introText'>
			  <h1 class="pageTitle">Welcome to <br>SmartCity</h1><br>
			  <h5 class="pageBlurb">Dedicated to helping you find <br> great destinations for the city you're in </h5>
			</div>
			<div class="col-md-3" id='registerDivColumn'>
				{% include './components/registerForm.html' %}
			</div>
			<div class="col-md-3" id='loginDivColumn'>
				{% include './components/loginForm.html' %}
			</div>
		</div>
</div>

	<script type='text/javascript'>
		$(document).ready(function(){
			$('#introText').fadeIn(1500).removeClass('hidden');
			setTimeout(()=>{
			$('#introText .hidden').fadeIn(1500).removeClass('hidden');
			}, 1500);
		});
	</script>

{% endif %}

{% endblock %}
