from views.py import PlaceDetail

{% extends "base_template.html" %}
{% block content %}

    <div class="individual-item-page">
        
        <div class="head">
            <h1>Base html thing</h1>
        </div>

        <div class="navbar">
            <nav>navbar</nav>
        </div>
        
            <div id="bodyTextLeft">
                <div id="result-title">   
                    <h2>{{place.name}}</h2>
                </div>
            
                <div id="about-place">
                    <div id"about-place-title">
                        <h3>About the location:</h3>
                    </div>
                    
                    <div id="about-place-text">
                        <p> This place is for.... and it is open from... to.... it accepts...</p>
                    </div>
                </div>
            </div>
            

            <div id="bodyTextCentre">
                <div>
                    <h2>LOCATION DETAILS</h2>
                </div>
                <div>
                    <div class="address">
                        <p>{{place.address}}</p>
                    </div>
                    <div class="phone">
                        <p>{{place.phone}}</p>
                    </div>
                    <div class="email">
                        <p>person@email.com</p>
                    </div>
                    <div class="industryType">
                        <p>{{place.industry}}</p>
                    </div>
                </div>
            </div>


            <div id="bodyTextRight">
                <div id="map">
                    <google map linked in></google>
                </div>
                <div id="place-image">
                    image
                </div>
            </div>
    </div>
{% endblock %}