<div id="individual-item-page">
    
    <div class="head">
        <h1>SMART-CITY</h1>
    </div>

    <div class="navbar">
        <nav>navbar</nav>
    </div>
    
    <div class="body">
        <div id="bodyTextLeft">
            <div id="result-title">   
                <h2>Result Title</h2>
            </div>
        
            <div id="about-place">
                <div id"about-place-title">
                    <h3>About the location:</h3>
                </div>
                
                <div id="about-place-text">
                    <p> This place is for.... and it is open from... to.... it accepts...</p>
                </div>
            </div>
        </div>
        
        <div id="bodyTextCentre">
            <div id="location-address-title">
                <h2>LOCATION ADDRESS</h2>
            </div>
            <div id="location-address-text">
                <p>streetNo, street, suburb, postcode, city</p>
            </div>
        </div>

        <div id="bodyTextRight">
            <div id="map">
                <google map linked in></google>
            </div>

            <div id="place-image">
                image
            </div>
        </div>
    </div>
</div>