from views.py import PlaceDetail

{% extends "base_template.html" %}
{% block content %}

    <div class="individual-item-page">
        
        <div class="head">
            <h1>Base html thing</h1>
        </div>

        <div class="navbar">
            <nav>navbar</nav>
        </div>
        
            <div id="bodyTextLeft">
                <div id="result-title">   
                    <h2>Result Title</h2>
                </div>
            
                <div id="about-place">
                    <div id"about-place-title">
                        <h3>About the location:</h3>
                    </div>
                    
                    <div id="about-place-text">
                        <p> This place is for.... and it is open from... to.... it accepts...</p>
                    </div>
                </div>
            </div>
            


            <div id="bodyTextCentre">
                <div id="location-address-title">
                    <h2>LOCATION ADDRESS</h2>
                </div>
                <div id="address-details">
                    <div class="address">
                        <p>streetNo, street, suburb, postcode, city</p>
                    </div>
                    <div class="phoneNumber">
                        <p>(07)9999 9999</p>
                    </div>
                    <div class="emailAddress">
                        <p>person@email.com</p>
                    </div>
                    <div class="industryType">
                        <p>(if applicable) industry type</p>
                    </div>
                </div>
            </div>

        <ul class="list-group" {{ request.place.place_id }}>
		    <li class="list-place-information"><b>Address: &nbsp; </b>{{ request.place.address }}</li>
		    <li class="list-place-information"><b>Phone Number: &nbsp; </b>{{ request.place.phone_number }}</li>
		    <li class="list-place-information"><b>Email: &nbsp; </b>{{ request.place.email }}</li>
		    <li class="list-place-information"><b>Industry Type: &nbsp; </b>{{ request.place.industry_type }}</li>
		    <li class="list-place-information"><b>Departments: &nbsp; </b>{{ request.place.department_id }}</li>
		</ul>



            <div id="bodyTextRight">
                <div id="map">
                    <google map linked in></google>
                </div>
                <div id="place-image">
                    image
                </div>
            </div>
    </div>
{% endblock %}