{% extends "base_template.html" %}
{% load static %}

{% block content %}
<h1><center> Libraries </center></h1>
<h3><center>This is a list of all the libraries on SmartCity</center></h3>

<div class="categoryListContainer">
	<ul>
		{% for place in place_list %}
			{% if place.category_id.name == 'library' %}
				<a href="#">
					<img src={% static 'library.png' %} class="categoryIcon" alt="libraryIcon" /> <b>{{ place.name }}</b> | {{ place.address }} 
				</a>
			{% endif %}
		{% empty %}
			No places yet.
		{% endfor %}
	</ul>
</div>
{% endblock %}
