{% extends "base_template.html" %}
{% load static %}

{% block content %}
<h1><center> Malls </center></h1>
<h3><center>This is a list of all the malls on SmartCity</center></h3>

<div class="categoryListContainer">
	<ul>
		{% for place in place_list %}
			{% if place.category_id.name == 'mall' %}
				<a href="{{place.get_absolute_url}}">
					<img src={% static 'mall.png' %} class="categoryIcon" alt="mallIcon" /> <b>{{ place.name }}</b> | {{ place.address }} <br>
				</a>
			{% endif %}
		{% empty %}
			No places yet.
		{% endfor %}
	</ul>
</div>
{% endblock %}
