{% extends "base_template.html" %}
{% load app_filters %}
{% load static %}
{% block content%}
  <img id='placeDetailBanner' style="width:100%;" src={% static place.category_id.name|category_banner %}/>
<div>
	<center style="font-family: 'Open Sans', sans-serif;">
		<div class="pageTitle">
			<h1 >{{place.name|upper}}</h3>
		</div>
			{% if place.category_id.name == "library" %}
			<i class="fa fa-book" style="font-size:40px"></i>		

			{% elif place.category_id.name == "restaurant" %}
			<i class="fa fa-cutlery" style="font-size:40px"></i>			

			{% elif place.category_id.name == "hotel" %}
			<i class="fa fa-building" style="font-size:40px"></i>
			
			{% elif place.category_id.name == "mall" %}
			<i class="fa fa-credit-card" style="font-size:40px"></i>
			
			{% elif place.category_id.name == "college" %}
			<i class="fa fa-pencil" style="font-size:40px"></i>
			
			{% elif place.category_id.name == "zoo" %}
			<i class="fa fa-paw" style="font-size:40px"></i>
			
			{% elif place.category_id.name == "industry" %}
			<i class="fa fa-gears" style="font-size:40px"></i>
		
			{% elif place.category_id.name == "museum" %}
			<i class="fa fa-bank" style="font-size:40px"></i>
			
			{% elif place.category_id.name == "park" %}
			<i class="fa fa-tree" style="font-size:40px"></i>
			{% endif %}
			<hr>
			<div class="row">
				<div class="col-sm-4" id='mapDiv'>
					<div id="map"></div>
				</div>
				<div class="col-sm-3" id="weatherDiv">
				</div>
				<div class="col-sm-4" style="text-align: left;" id='placeDetails'>
					{% if place.category_id.name == 'college' %}
						<p>
							<h4><i class="fa fa-thumb-tack"></i> ADDRESS: </h4>
							{{place.address}}, {{place.city_id|upper}}, {{place.postcode}}<br><br>
							
							<h4><i class="fa fa-envelope"></i> EMAIL: </h4>
							{{place.email}} <br><br>
							
							<h4><i class="fa fa-vcard"></i> DEPARTMENTS: </h4>
							{% for department in place.department.all %}
							<li>
								{{place.department.name|title}}
							</li>
							{% endfor %}
						</p>
						{% elif place.category_id.name == 'industry' %}
							<p>
								<h4><i class="fa fa-thumb-tack"></i> ADDRESS: </h4>
								{{place.address}}, {{place.city_id|upper}}, {{place.postcode}}<br><br>
								
								<h4><i class="fa fa-envelope"></i> EMAIL: </h4>
								{{place.email}} <br><br>
								
								<h4><i class="fa fa-cog"></i> INDUSTRY TYPE: </h4>
								{{place.industry.name|title}}
							</p>
						{% else %}
							<p>
								<h4><i class="fa fa-thumb-tack"></i> ADDRESS: </h4>
								{{place.address}}, {{place.city_id|upper}}, {{place.postcode}}<br><br>
								
								<h4><i class="fa fa-phone"></i> PHONE NUMBER: </h4>
								{{place.phone_number}} <br><br>
								
								<h4><i class="fa fa-envelope"></i> EMAIL: </h4>
								{{place.email}}
							</p>
					{% endif %}
					<input type ='hidden' value={{place.id}} name='pk' id='pk'>
					{% if saved %}
						<button id="addButton" class='btn btn-success' onclick="removePlace()">Place Saved</button>
					{% else %}
						<button id="addButton" class='btn btn-info' onclick="addPlace()">Save Place to Profile</button>
					{% endif %}
				</div>
			</div>
		<br>
    <!-- <h5 id='saveError' class='text-center text-danger'>Already Saved</h5> -->
	</center>
</div>
 
<div id='reviewRatingDiv'>
	<div style="margin-left: 20px;">
			<div class="form-group">
			<label for="user"></label>
			<input <input id="user" type="hidden" name="user" value="{{request.user.id}}">
			</div>
			<div class="form-group">
			<label for="place_id"></label>
			<input <input id="place_id" type="hidden" name="place_id" value="{{place.id}}">
			</div>
			<h4>Write a Review</h4>
			<div class="form-group">
			<label for="comments">Comments:</label>
			<textarea class="form-control" id="comments" name="comments" rows="3" placeholder="Enter your comments here" required></textarea>
			</div>
			<fieldset class="form-group">
			<label>User Rating:</label><br />
			<div class="form-check form-check-inline">
				<label class="form-check-label" for="rating">
				<input class="form-check-input" type="radio" name="rating" value="1"> 1
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label" for="rating">
				<input class="form-check-input" type="radio" name="rating" value="2"> 2
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label" for="rating">
				<input class="form-check-input" type="radio" name="rating" value="3" checked="checked"> 3
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label" for="rating">
				<input class="form-check-input" type="radio" name="rating" value="4"> 4
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label" for="rating">
				<input class="form-check-input" type="radio" name="rating" value="5"> 5
				</label>
			</div>
			</fieldset>
			<button class="btn btn-primary" id="reviewButton" onclick="handleReview()">Submit</button>
	</div> 

	<div style="margin-left: 20px; margin-top: 30px;"> 
		<h3> User Reviews </h3> 
		<ul id="reviews"> 
			
		</ul> 
	</div>  
</div>
 <script>
  const place = {};
  place.name = "{{place.name}}"
  place.address = "{{place.address}}";
  place.cityName = "{{place.city_id.name}}";
  place.postcode = "{{place.postcode}}";
</script>
<script src={% static "scripts/reviews.js" %}></script>
<script src={% static "scripts/savePlace.js" %}></script>
<script src={% static "scripts/googlemaps.js" %}></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATjdsUE7bTfnHbci4Md4woaGqfJIuXbpE&callback=initMap">
</script>
{% endblock %}
