{% extends "base_template.html" %}
{% load app_filters %}
{% load static %}
{% block content%}
<div>
<center>
  <h3>{{place.name}}</h3>
    <img src={% static place.category_id.name|category_image %} class="detailIcon" alt="categoryIcon" />
    <div id="map"></div>
		{% if item.category_id.name == 'college' %}
			<p>
				Address: {{place.address}} {{place.city_id}} {{place.postcode}}<br>
				Email: {{place.email}} <br>
				Departments:
				{% for department in place.department.all %}
					<li>
						{{department}}
					</li>
				{% endfor %}
			</p>
		{% elif item.category_id.name == 'industry' %}
			<p>
				Address: {{place.address}} {{place.city_id}} {{place.postcode}}<br>
				Email: {{place.email}} <br>
				Industry Type: {{place.industryType}}
			</p>
		{% else %}
			<p>
				Address: {{place.address}} {{place.city_id}} {{place.postcode}}<br>
				Phone Number: {{place.phone_number}} <br>
				Email: {{place.email}}
			</p>
		{% endif %}
    <input type ='hidden' value={{place.id}} name='pk' id='pk'>
    {% if saved %}
      <button id="addButton" class='btn btn-success' onclick="removePlace()">Saved</button>
    {% else %}
      <button id="addButton" class='btn btn-info' onclick="addPlace()">Save Place</button>
    {% endif %}
    <!-- <h5 id='saveError' class='text-center text-danger'>Already Saved</h5> -->
</center>
</div>

<script>
  const place = {};
  place.name = "{{place.name}}"
  place.address = "{{place.address}}";
  place.cityName = "{{place.city_id.name}}";
  place.postcode = "{{place.postcode}}";
</script>
<script src={% static "scripts/savePlace.js" %}></script>
<script src={% static "scripts/googlemaps.js" %}></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATjdsUE7bTfnHbci4Md4woaGqfJIuXbpE&callback=initMap">
</script>
{% endblock %}
