{% extends "base_template.html" %}
{% load static %}
{% load app_filters %}
{% block content %}
<img style="width:100%;" src="{% static 'images/saved_banner1.png' %}" />
<h1 class='pageTitle'>SAVED PLACES</h1>
<h5 class="pageBlurb">These are all the places you saved</h5>
<hr>

<div id="categoryListContainer">
  {% if saved_places %}
    {% for place in saved_places %}
      <a class="resultItem" href="{{place.place.get_absolute_url}}" style="height: auto;">
        <div class='row'>
          <div class='col-2'>
              <img class='icon' src={% static place.place.category_id.name|category_image %}/>
          </div>
          <div class='col-10'>
            <div class='row'>
              <div class='col-7'>
                {{place.place.name}}
              </div>
              <div class='col-5'>
                <div><i>{{place.place.city_id}}</i></div>
                <div>{{place.place.address}}</div>
              </div>
            </div>

          </div>
        </div>
      </a>
    {% endfor %}
  {% else %}
  {% endif %}
</div>
{% endblock %}
