{% extends "base_template.html" %}
{% load static %}
{% load app_filters %}
{% block content %}
<img id='searchImage' src="{% static 'images/search_banner1.png' %}" style="width:100%;" />
<div style="background: #555; color:#fff; border-bottom: 1px solid #ccc;">
  <div class='searchResultHead' style="font-family: 'Open Sans', sans-serif; height: 60px;" >
    <div class='row' style='width: 100%'>
      <div class='col-8'>
        <input id='query' hidden value={{request.GET.q}}/>
			<h5> Sort search results: <h5>
  			<h6><input type="radio" id="alphabetically" name="sortResults" onclick="query.call(event)" > Alphabetically</input>
  			<input type="radio" id="byDate" name="sortResults" onclick="query.call(event)"> By Date</input></h6>
      </div>
      <div class='col-4 text-right'>
        <p>Showing 1-{{pagination}} of {{count}} results</p>
      </div>
    </div>
  </div>
</div>
<div class='searchResultDiv'>
  <div class='searchResultColumn1'>
    {% if place_list %}
      {% for place in place_list%}
        <!-- After implementing individual item page, href=" place.get_absolute_url }}" -->
        <a class="resultItem" style="height:auto;" href="{{place.get_absolute_url}}">
          <div class='row'>
            <div class='col-2'>
                <img class='icon' src={% static place.category_id.name|category_image %}/>
            </div>
            <div class='col-10'>
              <div class='row'>
                <div class='col-7' style="margin-top: auto; margin-bottom: auto;">
                  {{place.name}}
                </div>
                <div class='col-5'>
                  <div>{{place.city_id|title}}</div>
                  <div>{{place.address|title}}</div>
				  <div>{{place.postcode}}</div>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <h2>No results available for '{{request.GET.q}}'</h2>
    {% endif %}
  </div>
  <div class='searchResultColumn2'  style="font-family: 'Open Sans', sans-serif'">
    <div id="sidebar">
	  <h4 style="font-family: 'Open Sans', sans-serif;">Browsing results for: "{{request.GET.q}}"</h4>
	  <center>---</center>
      <h5>Not finding what you are looking for? Tell us what we're missing.</h5>
      <div class='text-center'>
        <a href="/contact">
          <button type="btn btn-primary">Contact Us</button>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
    document.getElementById('byDate').checked = true;
    document.getElementById('alphabetically').checked = false;
</script>
<script src={% static "scripts/query.js" %}></script>
{% endblock %}
