{% load static %}

<div class='row'>
	<div class='col-4'>
		<img src={% static 'college1.jpeg' %} alt="collegeCategory" style='width:100%'/>
	</div>
	<div class='col-4'>
		<img src={% static 'library1.jpeg' %}  alt="libraryCategory" style='width:100%'/>
	</div>
	<div class='col-4'>
		<img src={% static 'city1.jpeg' %} alt="cityCategory" style='width:100%'/>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Colleges</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Libraries</button>
	</div>
	<div class='col-4'>
		<button type="button" style="width: 100%;" >Other City Information</button>
	</div>
</div>