{% load static %}

<div class='row'>
	<div class='col-4'>
		<a href="/categories/college">
			<img src={% static 'images/college1.jpeg' %} alt="collegeCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories/library">
			<img src={% static 'images/library1.jpeg' %}  alt="libraryCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories">
		<img src={% static 'images/city1.jpeg' %} alt="cityCategory" style='width:100%'/>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<a href="/categories/college">
			<button type="button" style="width: 100%;" >Colleges</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories/library">
			<button type="button" style="width: 100%;" >Libraries</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/categories">
			<button type="button" style="width: 100%;" >Other City Information</button>
		</a>
	</div>
</div>
