{% load static %}

<div class='row'>
	<div class='col-4'>
		<a href="/category/college">
			<img src={% static 'college1.jpeg' %} alt="collegeCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/library">
			<img src={% static 'library1.jpeg' %}  alt="libraryCategory" style='width:100%'/>
		</a>
	</div>
	<div class='col-4'>
		<a href="/allCategories">
		<img src={% static 'city1.jpeg' %} alt="cityCategory" style='width:100%'/>
	</div>
</div>

<div class='row'>
	<div class='col-4'>
		<a href="/category/college">
			<button type="button" style="width: 100%;" >Colleges</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/category/library">
			<button type="button" style="width: 100%;" >Libraries</button>
		</a>
	</div>
	<div class='col-4'>
		<a href="/allCategories">
			<button type="button" style="width: 100%;" >Other City Information</button>
		</a>
	</div>
</div>
