
html{
  display:flex;
}
body{
  flex:1;
}

#welcomePage{
  margin-top:100px;
}

#introText{
  margin-left:40px;
}
#registerDivColumn{
  padding:10px;
}
#loginDivColumn{
  padding:10px;
}

.col-4 img{
    width: 100%;
  }

.col-4 button{
  width: 100%;
}

.hidden{
  display:none;
}

#mapDiv{
  margin-left: auto;
}

#map {
  height: 300px;
  width: 100%;
  margin:auto;
}

/*
  Inputs
*/
.form-control{
  height: 50px;
}

.errorlist{
  color: #ff0000;
}

#submit{
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 130px;
  height: 50px;
  cursor:pointer;
  font-family: 'Trebuchet MS', sans-serif;
  box-shadow: 0 0 0 0 rgba(140, 184, 255, 0.7);
  -webkit-animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
}

#submit:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

/*
  Login
*/

.inputFieldDiv{
  text-align: left;
  width: 90%;
  margin: auto;
}

#loginDiv{
  width: 100%;
  margin:auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#loginDivHeader{
  height: 60px;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  font-size: 1.1em;
}


.searchResultHead{
  margin:auto;
  height: 90px;
  width: 60%;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items: center;
  align-items:center;
}

.searchResultDiv{
  display: -webkit-flex;
  display: flex;
  /*-webkit-justify-content: center;
  justify-content: center;*/
  flex-wrap: wrap;
  width: 60%;
  margin:auto;
}

#editProfileWrapper {
	margin: auto;
	width: 75%;
	height: auto;
	text-align: center;
}

#thisIsDiv .list-group-item{
  margin:auto;
  width: 100%;
}

form.editProfileForm {
	width: 50%;
	margin: auto;
} 

h1.pageTitle {
	text-align: center;
}

input.editProfileTextBox {
	height: 27px;
	float: left;
	text-align: left;
	margin: auto;
	width: 400px;
}


li.list-group-item {
	width: 60%;
}


p.editLabel {
	text-align: right;
	width: 300px;
	float: left;
	font-weight: bold;
}

.searchResultColumn1{
  flex: 8;
}
.searchResultColumn2{
  flex:4;
}

#sidebar {
    position: sticky;
    top: 15px;
    padding: 20px;
    width: 100%;
    background-color: #434A54;
    color: #fff;
    background: #ccc;
}

.resultItem:hover{
  text-decoration: none;
  color: #fff;
}

.resultItem{
  display:block;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.resultItem icon{
  width: 100%;
}

.resultItem:nth-child(1){
  border-top: 1px solid #ccc;
}

.resultItem:hover{
  text-decoration: none;
  color: #000;
}
#weatherDiv{
  background-color:currentColor;
}

.weatherIcon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em; /* control icon size here */
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em,
    2.0625em 0.9375em 0 -0.9375em,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #fff,
    2.0625em 0.9375em 0 -0.9375em #fff,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #fff; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: currentColor;
}

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow:
    0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
    -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
    -1.375em -0.125em 0 rgba(255,255,255,0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  list-height: 1em;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}

img.categoryIcon {
	height: 40px;
	width: 60px;
}

img.detailIcon {
	height: 200px;
	width: 300px;
	position: center;
}

#categoryListContainer {
	width: 70%;
	margin: 0 auto;
	text-align: center;
  overflow: hidden;
}

#footer {
    width: 100%;
    height: 50px;
	text-align: center;
	background: #d3d3d3;
	bottom: 0;
	position: relative;
}

#pageContainer {
	min-height: 100%;
}


/* Animations */ 

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes cloud {
  0% { opacity: 0; }
  50% { opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes rain {
  0% {
    background: #0cf;
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em #0cf,
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow:
      0.625em 0.875em 0 -0.125em #0cf,
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
}

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}

#reviewRatingDiv{
  width: 90%;
  margin: auto;
}

@media only screen and (max-width:1100px){
  #welcomePage{
    margin: 50px;
  }

  #introText{
    margin:0;
    padding:0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #registerDivColumn{
    margin-left:auto;
    margin-right: 20px;
    flex: 0 0 40%;
    max-width: 40%;
  }
  #loginDivColumn{
    margin-right:auto;
    margin-left: 20px;
    flex: 0 0 40%;
    max-width: 40%;
  }

  #editProfileWrapper{
    width: 90%;
  }
}

@media only screen and (max-width: 760px){
  #welcomePage{
    margin: 0;
  }

  #searchImage{
    display:none;
  }

  .pageTitle>h1{
    font-size: 28px;
  }

  .searchResultHead{
    height: 60px;
    width: 100%;
  }

  .searchResultHead h5, .searchResultHead h4{
    font-size: 0.8em;
  }

  .searchResultDiv{
    width: 100%;
  }

  #mapDiv.col-sm-4{
    margin-left:0;
    flex: 0 0 100%;
    max-width: 65%;
    padding:0
  }
  #weatherDiv.col-sm-3{
    flex: 0 0 100%;
    max-width: 30%;
    padding:0;
  }
  #placeDetails{
    flex: 0 0 100%;
    max-width: 100%;
  }

  #savedPlaceHeading{
    font-size:26px;
  }
}

@media only screen and (max-width: 550px){
  #editProfileWrapper{
    width: 100%;
  }

  #accountPageTitle{
    font-size:19px;
  }

  .editProfileForm .row{
    width: 90%;
    margin: auto;
  }

  input.editProfileTextBox {
    width: 100%;
  }

  #savedPlaceHeading{
    font-size:19px;
  }

  #welcomePage h2{
    font-size: 25px;
  }

  #introText h5{
    display:none;
  }

  p.editLabel {
    text-align: center;
    width: 100%;
    font-weight: bold;
  }

  #introText.col-md-4{
    height: 50px;
  }

  #placeDetailBanner{
    display:none;
  }

  .pageTitle>h1{
    font-size: 20px;
  }

  #mapDiv.col-sm-4{
    max-width: 100%;
  }
  #weatherDiv.col-sm-3{
    max-width: 100%;
  }

  .col-4{
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 5px;
  }

  #indexHeader>h2{
    font-size: 17px;
  }

  #indexHeader>h5{
    font-size: 13px;
  }

  .col-4 img{
    width: 30%;
  }

  .col-4 button{
    width: 65%;
  }

  .searchResultHead .col-8, .searchResultHead .col-4{
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  .searchResultHead .text-right{
    text-align: center!important;
  }

  .searchResultColumn2{
    flex: 0 0 100%;
  }

  #categoryListContainer{
    width: 100%;
  }
  .resultItem{
    margin-top:0px;
    height: 60px;
    font-size: 13px;
  }

  .resultItem .col-2{
    display:none;
  }

  #registerDivColumn{
    margin:auto;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #loginDivColumn{
    margin:auto;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #sidebar h4{
    display:none;
  }

  #sidebar h5{
    font-size: 18px;
  }
}




@media only screen and (min-width: 760px) and (max-width: 1100px){
  .searchResultHead{
    width: 80%;
  }
  .searchResultDiv{
    width: 80%;
  }
}
