
html{
  display:flex;
}
body{
  flex:1;
}

#welcomePage{
  margin-top:100px;
}

.hidden{
  display:none;
}

/*
  Inputs
*/
.form-control{
  height: 50px;
}

.errorlist{
  color: #ff0000;
}

#submit{
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 130px;
  height: 50px;
  cursor:pointer;
  font-family: 'Trebuchet MS', sans-serif;
  box-shadow: 0 0 0 0 rgba(140, 184, 255, 0.7);
  -webkit-animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.55s infinite cubic-bezier(0.66, 0, 0, 1);
}

#submit:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

/*
  Login
*/

.inputFieldDiv{
  text-align: left;
  width: 300px;
  margin: auto;
}

#loginDiv{
  width: 350px;
  margin:auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#loginDivHeader{
  height: 60px;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  font-size: 1.1em;
}

.searchResultHead{
  margin:auto;
  height: 100px;
  width: 60%;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items: center;
  align-items:center;
}

.searchResultDiv{
  display: -webkit-flex;
  display: flex;
  /*-webkit-justify-content: center;
  justify-content: center;*/
  flex-wrap: row wrap;
  width: 60%;
  margin:auto;
}

.searchResultColumn1{
  flex: 8;
}
.searchResultColumn2{
  flex:4;
}

#sidebar {
    position: sticky;
    top: 15px;
    padding: 20px;
    width: 100%;
    background-color: #434A54;
    color: #fff;
    background: #ccc;
}

.resultItem:hover{
  text-decoration: none;
  color: #fff;
}

.resultItem{
  display:block;
  width: 100%;
  height: 120px;
  padding-top:10px;
  margin-top: 10px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.resultItem:nth-child(1){
  border-top: 1px solid #ccc;
}

.resultItem:hover{
  text-decoration: none;
  color: #000;
}

.icon{
  height: 70px;
}

<<<<<<< HEAD
img.categoryIcon {
	height: 40px;
	width: 60px;
}

.categoryListContainer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
    padding: 1em;
    overflow: hidden;
}
=======

>>>>>>> cd8f33b3598ee6f470f9398ae27d42f32d4a005c

@media only screen and (max-width: 550px){
}

@media only screen and (max-width: 760px){
  .searchResultHead{
    height: 60px;
    width: 100%;
  }

  .searchResultHead h5, .searchResultHead h4{
    font-size: 0.8em;
  }

  .searchResultDiv{
    width: 100%;
  }
  .resultItem{
    height: 50px;
    margin-top: 5px;
  }
  .icon{
    height: 40px;
  }
}

img.categoryIcon {
	height: 40px;
	width: 60px;
}

img.detailIcon {
	height: 200px;
	width: 300px;
	position: center;
}

.categoryListContainer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
    padding: 1em;
    overflow: hidden;
}

#footer {
    width: 100%;
    height: 50px;
	text-align: center;
	background: #d3d3d3;
	bottom: 0;
	position: relative;
}

#pageContainer {
	min-height: 100%;
}

@media only screen and (min-width: 760px) and (max-width: 1100px){
  .searchResultHead{
    width: 80%;
  }
  .searchResultDiv{
    width: 80%;
  }
}
